body, html {
  margin: 0;
  padding: 0;
}

.blog-entry {
  /*border: solid;
  border-color: grey;
  border-radius: 2px;*/
  color: grey;
  padding: 0 10px 0;
  margin: 20px;
}

/*.li-csselement ul{
  list-style-type: none;
}*/

.navbar {
  padding: 0 30px;
}
